<!--The whole content below can be removed with the new code.-->
<div class="wrapper">
  <h1 class="title">{{title}}</h1>
  <div class="btn-group">
    <button type="button" class="btn btn-success btn-lg" (click)="addRow()">添加</button>
    <button type="button" class="btn btn-danger btn-lg" (click)="removeRow()">批量删除</button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr *ngFor="let menu of menus">
        <th></th>
        <th>#</th>
        <th>{{menu.name}}</th>
        <th>{{menu.sex}}</th>
        <th>{{menu.age}}</th>
        <th>{{menu.birthday}}</th>
        <th>{{menu.tel}}</th>
        <th>{{menu.operation}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let baseData of dataAll; let i = index;">
        <td>
          {{i+1}}
        </td>
        <td>
          <input type="checkbox" (change)="change(i)">
        </td>
        <td>
          <input type="text" [disabled]="editIndex!==i" [(ngModel)]="baseData.name" [ngClass]="{'active':editIndex==i}">
        </td>
        <td>
          <input type="text" [disabled]="editIndex!==i" [(ngModel)]="baseData.sex">
        </td>
        <td>
          <input type="number" [(ngModel)]="baseData.age" [disabled]="editIndex!==i">
        </td>
        <td>
          <input type="text" [(ngModel)]="baseData.birthday" [disabled]="editIndex!==i">
        </td>
        <td>
          <input type="tel" [(ngModel)]="baseData.tel" [disabled]="editIndex!==i">
        </td>
        <td>
          <tr *ngIf="editIndex!==i">
            <a class="btn btn-warning btn-xs" href="javascript:;" (click)="edit(baseData,i)">
                编辑
              </a>
            <a class="btn btn-danger btn-xs" href="javascript:;" (click)="delate(baseData,i)">删除</a>
          </tr>
          <tr *ngIf="editIndex===i">
            <a class="btn btn-warning btn-xs" href="javascript:;" (click)="save(baseData)">保存</a>
            <a class="btn btn-danger btn-xs" href="javascript:;" (click)="cancel(baseData)">取消</a>
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- content end -->
</div>
